// Bootstrap
$brand-primary: #FF8305
$font-size-root: 18px
$font-size-lg: 2rem
$line-height: 1.8

$font-family-serif: 'Vollkorn', serif
$font-family-sans-serif: 'Lato', sans-serif

$navbar-padding-x: .4rem
$navbar-padding-y: .6rem


$navbar-light-hover-color: $brand-primary
$navbar-light-active-color: $brand-primary

$dropdown-link-active-bg: rgba(255, 131, 5, 0.3)
$dropdown-link-hover-bg: rgba(255, 131, 5, 0.3)
