@import 'config/variables'
@import '../components/bootstrap/scss/bootstrap-flex'
@import '../components/font-awesome/scss/font-awesome'

@import 'components/navbar'
@import 'components/best'
@import 'components/featured-posts'
@import 'components/featured-article'
@import 'components/footer'
@import 'components/maps'
@import 'components/newsletter'
@import 'components/news'
@import 'components/utilities'

html
  max-height: 100%

.content--first
  margin-top: 650px

.header--underline
  border-bottom: 2px solid $brand-primary
  display: inline-block
  margin-bottom: 0.8rem



.instafeed
  margin: 0
  padding: 0
