@import 'config/variables'
@import '../components/bootstrap/scss/bootstrap-flex'
@import '../components/font-awesome/scss/font-awesome'

@import 'components/navbar'
@import 'components/best'
@import 'components/featured-posts'
@import 'components/featured-article'
@import 'components/footer'
@import 'components/maps'
@import 'components/news'

html
  max-height: 100%
.content
  margin-top: 650px

.header--underline
  border-bottom: 2px solid $brand-primary
  display: inline-block
  margin-bottom: 0.8rem


.newsletter--form
  background-color: $brand-primary-light
  border: 1px solid transparent
  border-radius: 4px
  padding: 6px
.newsletter--submit
  margin-left: 12px


.instafeed
  margin: 0
  padding: 0
