.best--img-link
  &:after
    width: 100%
    height: 250px
.content--best-of
  .card
    &:hover
      .best--img-link
        &:after
          opacity: 1

    .badge-new
      font-size: 0.8rem
      top: -12px
      right: -12px


@media (max-width: 990px)
  .card-deck
    .card
      flex: inherit
      margin-bottom: 1rem
