@media screen and (min-width:768px)
  .navbar-brand-centered
    position: absolute
    left: 45%
    display: block
    width: 300px
    text-align: center
  .navbar>.container .navbar-brand-centered,
  .navbar>.container-fluid .navbar-brand-centered
      margin-left: -80px


.navbar-brand
  margin-top: -1.6rem
.nav-brand--lead
  font-size: 1rem
  padding-bottom: 0
  margin-bottom: 0
  color: #666

.navbar
  border-bottom: 3px solid $brand-primary-light
  z-index: 999

.nav--mainnav
  margin-top: 1rem

  a.nav-link
    padding: 0.6rem
    font-weight: 700
    border-bottom: 3px solid transparent
    &:hover
      border-bottom: 3px solid $brand-primary
//
// .nav-brand
//   margin: 0 auto
//   display: inline-block
//
// .nav-brand--title
//   font-size: 2rem
//
//
// .nav--subnav
//   position: absolute
//   width: 100%
//   bottom: -45px
//   background-color: rgba(255, 131, 5, 0.1)
//
.header--nav
  background-color: rgba(255,255,255,0.8)
  .container
    position: relative
//
