.news
  .card
    padding: 10px
    .badge-new
      font-size: 0.8rem
      top: -12px
      right: -12px
  img
    width: 180px
    height: 120px
  .card-block
    margin-left: 200px
    padding: 0
    h4
      font-size: 1.2rem


  .card-columns
    @include media-breakpoint-only(sm)
      column-count: 1
    @include media-breakpoint-only(md)
      column-count: 1
    @include media-breakpoint-only(lg)
      column-count: 2
    @include media-breakpoint-only(xl)
      column-count: 3


.news--img-link
  &:after
    margin-top: 10px
    margin-left: 10px
    width: 180px
    height: 120px
.news
  .card
    &:hover
      background-color: $brand-primary-very-light
      .news--img-link
        &:after
          opacity: 1
