.badge-new
  backface-visibility: hidden
  -webkit-backface-visibility: hidden
  right: 0
  top: 0
  font-size: 1.2rem
  position: absolute
  background-color: $brand-primary
  text-transform: uppercase
  border: 3px solid $brand-primary-light !important


.card-img-left
  border-bottom-left-radius: calc(0.25rem - 1px)
  border-top-left-radius: calc(0.25rem - 1px)

.card-img-right
  border-bottom-right-radius: calc(0.25rem - 1px)
  border-top-right-radius: calc(0.25rem - 1px)
